{% extends "base.html" %}

{% block title %}View entry{% endblock %}

{% block heading %}View entry{% endblock %}

{% block main %}

    <a href="{{ url_for('entries.list_all') }}">Close</a>

    <h2>
        {{ entry.day }}
    </h2>

    <p>
        {{ entry.description }}
    </p>
    <br>
    <hr>
    <form method="post">
        {{ comment_form.csrf_token }}

            {{ comment_form.username.label }}
            {{ comment_form.username }}
            {% if comment_form.username.errors %}
                <ul>
                {% for error in comment_form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {{ comment_form.content.label }}
            {{ comment_form.content }}
            {% if comment_form.content.errors %}
                <ul>
                    {% for error in comment_form.content.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {{ comment_form.submit }}
    </form>

    {% for comment in entry.comments %}
        <h3>{{ comment.username }}</h3>
         <p>{{ comment.content }}</p>
    {% endfor %}


{% endblock %}
